.color-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.color-table th, .color-table td {
  padding: 8px;
  text-align: left;
  background-color: #f9f6f6;

}

.color-table th {
  background-color: #d8d8d8;
}

.color-name {
  display: flex;
  align-items: center;
}

.color-box {
  display: inline-block;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
